@charset "UTF-8";

@font-face {
  font-family: ArethabridgeRegular;
  font-display: swap;
  src: url("../fonts/ArethabridgeRegular-lg5rD.woff2") format("woff2"), url("../fonts/ArethabridgeRegular-lg5rD.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: MuseoSansCyrl;
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-300.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: MuseoSansCyrl;
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-300Italic.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-300Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: MuseoSansCyrl;
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-900.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-900.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: segoeuil;
  font-display: swap;
  src: url("../fonts/segoeuil.woff2") format("woff2"), url("../fonts/segoeuil.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: MuseoSansCyrl;
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-500.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: MuseoSansCyrl;
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-700.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: MuseoSansCyrl;
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-700Italic.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-700Italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "MuseoSansCyrl";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "MuseoSansCyrl";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 66rem;
  margin: 0 auto;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-size: 34px;
  font-weight: 500;
  font-family: "ArethabridgeRegular";
  padding-left: 15px;
}

.footer {
  padding-top: 82px;
  padding-bottom: 20px;
}

.footer__container {
  border: none;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 25px;
  margin-bottom: 15px;
}

.footer__item-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 250px;
          flex: 0 1 250px;
  -webkit-transform: translate(0px, -20px);
      -ms-transform: translate(0px, -20px);
          transform: translate(0px, -20px);
}

.footer__item-img img {
  width: 100%;
}

.footer__text {
  margin-bottom: 10px;
  font-size: 16px;
  color: #707070;
  font-weight: 700;
}

.footer__text span {
  color: #000;
  font-weight: 902;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.footer__social-img {
  max-width: 30px;
}

.footer__social-img img {
  width: 100%;
}

.footer__link {
  max-height: 55px;
  margin-bottom: 10px;
  font-size: 16px !important;
  color: #707070 !important;
  font-weight: 700 !important;
}

.footer__link span {
  color: #000;
  font-weight: 902;
}

body {
  background: #e9e9e9;
}

.fr {
  max-width: 1400px;
  margin: 0 auto;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 60px;
}

.fr img {
  width: 100%;
}

.hr {
  border-bottom: 1px solid #929190;
}

.colore3d9cd {
  background: #e3d9cd !important;
}

.header__container {
  border-top: 1px solid #707070;
  background: #f4f0eb;
  border-right: 1px solid #707070;
  border-left: 1px solid #707070;
}

.header__menu {
  padding-bottom: 20px;
}

.menu {
  padding: 26px 0 12px 0;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.menu__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 260px;
          flex: 0 1 260px;
  max-width: 250px;
  min-width: 100px;
  position: relative;
  z-index: 10;
}

.menu__logo img {
  width: 100%;
}

.menu__list {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 9;
}

.menu__item-home-none {
  border: none !important;
}

.menu__item-home {
  padding: 5px 9px;
  margin-right: 8px;
  border: 1px solid transparent;
}

.menu__item-home ul {
  opacity: 0;
}

.menu__link {
  font-family: "MuseoSansCyrl";
  font-weight: 50;
  color: #6c6a68;
}

.evgeniya__squarebut {
  position: absolute;
  z-index: 2;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 1px solid #1000FF;
  background: #fff;
  opacity: 0;
}

.evgeniya__square {
  position: absolute;
  z-index: 2;
  width: 4px;
  height: 4px;
  border: 1px solid #1000FF;
  background: #fff;
}

.evgeniya__square1 {
  top: -2.5px;
  left: -2.5px;
}

.evgeniya__square2 {
  top: 11px;
  left: -2.5px;
}

.evgeniya__square2but {
  top: 50%;
  left: -2.5px;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.evgeniya__square4 {
  bottom: -2.5px;
  right: -2.5px;
}

.evgeniya__square5 {
  top: 11px;
  right: -2.5px;
}

.evgeniya__square5but {
  top: 50%;
  right: -2.5px;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.evgeniya__square7 {
  bottom: -2.5px;
  left: -2.5px;
}

.evgeniya__square8 {
  top: -2.5px;
  right: -2.5px;
}

.evgeniya__square9but {
  right: 50%;
  bottom: -2.5px;
  -webkit-transform: translate(50%, 0px);
      -ms-transform: translate(50%, 0px);
          transform: translate(50%, 0px);
}

.evgeniya__square10but {
  right: 50%;
  top: -2px;
  -webkit-transform: translate(50%, 0px);
      -ms-transform: translate(50%, 0px);
          transform: translate(50%, 0px);
}

.evgeniya__square11but {
  left: 3px;
  top: 3px;
}

.evgeniya__square12but {
  right: 3px;
  top: 3px;
}

.evgeniya__square13but {
  right: 3px;
  bottom: 3px;
}

.evgeniya__square14but {
  left: 3px;
  bottom: 3px;
}

.evgeniya__square15but {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.evgeniya__square-r50 {
  position: absolute;
  top: 10.5px;
  right: -17px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 1px solid #1000FF;
}

.home {
  color: lightcoral;
  font-weight: 900;
}

.icon-menu {
  display: none;
}

.evgeniya__container {
  background: #f4f0eb;
  border-right: 1px solid #707070;
  border-left: 1px solid #707070;
}

.evgeniya__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 12px 15px 0px;
}

.evgeniya__item-img {
  margin-top: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 745px;
          flex: 0 1 745px;
}

.evgeniya__item-img img {
  width: 100%;
}

.evgeniya__item-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 382px;
          flex: 0 1 382px;
}

.evgeniya__link {
  text-align: right;
  margin-bottom: 20px;
}

.evgeniya__link a {
  border: 1px solid transparent;
  font-size: 17px;
  font-weight: 500;
  background: #efddd6;
  color: rgba(112, 112, 112, 0.8431372549);
}

.evgeniya__text-body {
  background: #fff;
  position: relative;
  border: 2px solid #898989;
}

.evgeniya__text {
  line-height: 19px;
  font-weight: 300;
  color: #838383;
}

.evgeniya__arrow {
  position: absolute;
  bottom: 30px;
  right: 23px;
  width: 13px;
}

.evgeniya__arrow img {
  width: 100%;
}

.member__container {
  border-right: 1px solid #707070;
  border-left: 1px solid #707070;
  background: #f4f0eb;
}

.member__content {
  padding: 38px 0;
  border-bottom: 2px solid #929190;
}

.member__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.member__item {
  text-align: center;
  width: 250px;
}

.member__img {
  max-width: 80px;
  margin: 0 auto;
}

.member__img img {
  width: 100%;
}

.member__img-text {
  font-family: "ArethabridgeRegular";
  font-size: 30px;
  margin: 10px 0 15px 0;
}

.member__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  color: #a2a09f;
}

.block-text__container {
  background: #f4f0eb;
  border-right: 1px solid #707070;
  border-left: 1px solid #707070;
}

.block-text__content {
  padding: 73px 0;
  border-bottom: 2px solid #929190;
}

.block-text__body {
  margin: 0 auto;
  max-width: 480px;
  background: #fff;
  border: 2px solid #898989;
  padding: 26px 50px 32px 50px;
}

.block-text__text {
  text-align: center;
  color: #707070;
  line-height: 1.3125;
  font-weight: 700;
}

.block-text__text span {
  color: #db9f92;
}

.hide {
  display: none;
}

.advantages__container {
  background: #f4f0eb;
  border-right: 1px solid #707070;
  border-left: 1px solid #707070;
}

.advantages__content {
  padding: 55px 0 75px 0;
  border-bottom: 2px solid #929190;
}

.advantages__vverx {
  position: fixed;
  top: 50%;
  right: 50%;
  color: #dfa99d;
  font-weight: 700;
  font-size: 14px;
  -webkit-transform: translate(535px, 0px) rotate(-90deg);
      -ms-transform: translate(535px, 0px) rotate(-90deg);
          transform: translate(535px, 0px) rotate(-90deg);
  z-index: 15;
}

.advantages__grid {
  position: relative;
  margin: 37px 0 0 37px;
  display: -ms-grid;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.advantages__img {
  max-width: 110px;
  height: 90px;
}

.advantages__img img {
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.advantages__text {
  line-height: 1.125;
  font-weight: 300;
  color: #707070;
}

.advantages__text-title {
  margin: 14px 0 7px 0;
  font-weight: 700;
  font-size: 16px;
}

.features__container {
  background: #f4f0eb;
  border-right: 1px solid #707070;
  border-left: 1px solid #707070;
}

.features__content {
  padding: 70px 0;
  border-bottom: 2px solid #929190;
}

.features__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

.features__img {
  max-width: 70px;
  margin: 0 auto;
}

.features__img img {
  width: 100%;
}

.features__img-text {
  margin-top: 15px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #707070;
  font-style: italic;
  font-weight: 700;
}

.features__img-text span {
  font-weight: 300;
}

.features__body {
  max-width: 710px;
  border: 1px solid #000;
  padding: 33px 40px 38px 40px;
  background: #fff;
}

.features__title {
  font-weight: 700;
  margin-bottom: 22px;
  font-size: 16px;
}

.features__text {
  color: #707070;
  line-height: 1.1428571429;
  font-weight: 300;
}

.features__text p:not(:last-child) {
  margin-bottom: 20px;
}

.portfolio__container {
  background: #f4f0eb;
  border-right: 1px solid #707070;
  border-left: 1px solid #707070;
}

.portfolio__content {
  padding: 70px 0 60px 0;
  border-bottom: 2px solid #929190;
}

.portfolio__title {
  margin-bottom: 45px;
}

.portfolio__slider {
  margin-left: 38px;
}

.portfolio__wrapper {
  margin-bottom: 35px;
}

.portfolio__slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 245px;
          flex: 0 0 245px;
  padding: 35px 35px 35px 40px;
  background: #e9e9e9;
}

.portfolio__sub-title {
  margin-bottom: 20px;
  font-weight: 700;
}

.portfolio__text {
  color: #707070;
  line-height: 1.125;
}

.portfolio__img {
  background: #fff;
  max-width: 620px;
  padding: 25px;
}

.portfolio__img img {
  width: 100%;
  height: 100%;
}

.hr-min {
  border-bottom: 2px solid #929190;
  margin: 0 40px;
  padding-bottom: 55px;
}

.feedback__container {
  background: #f4f0eb;
  max-width: 66rem !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-right: 1px solid #707070;
  border-left: 1px solid #707070;
}

.feedback__content {
  padding: 35px 0;
}

.feedback__titel {
  margin: 0 0 40px 40px;
}

.feedback__wrapper {
  padding-bottom: 45px;
}

.feedback__slide {
  position: relative;
}

.feedback__body {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 235px;
}

.no-webp .feedback__img-left2{
  background: url("../img/glavnay/imgleft.png") center/100% 100% no-repeat; }

.feedback__img-left2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 240px;
          flex: 0 0 240px;
  height: 100%;
}

.no-webp .feedback__img-left1{
  background: url("../img/glavnay/imgleft1.png") center/100% 100% no-repeat; }

.feedback__img-left1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
}

.feedback__img-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 290px;
          flex: 0 0 290px;
}

.feedback__img-text-last {
  padding: 13px !important;
  margin: 0 auto !important;
  text-align: center;
}

.feedback__img-text {
  padding: 43px;
  color: #707070;
  line-height: 1.375;
  font-weight: 300;
  background: #fff;
  width: 100%;
}

.feedback__img-text img {
  max-width: 100%;
  max-height: 100%;
}

.no-webp .feedback__img-right{
  background: url("../img/glavnay/imgright.png") center/cover no-repeat; }

.feedback__img-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 114px;
          flex: 0 0 114px;
  border: 1px solid transparent;
  border-right: none;
}

.feedback__img-right img {
  width: 100%;
}

.feedback__under-img {
  margin: 0 auto;
  max-width: 75px;
}

.feedback__under-img img {
  width: 100%;
}

.feedback__under-text {
  margin-top: 8px;
  text-align: center;
  font-size: 14px;
  font-weight: 900;
  color: #707070;
  font-style: italic;
  line-height: 14px;
}

.feedback__under-text span {
  font-weight: 300;
  font-size: 12px;
}

.features__body-bottom {
  padding: 30px;
}

.features__body-bottom p {
  margin: 0;
}

.features-bottom__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
  gap: 15px;
  color: rgba(0, 0, 0, 0.45);
  font-weight: 700;
}

.features-bottom__link1 {
  padding: 20px 0px;
}

.features-bottom__link1 a {
  padding: 20px 30px;
  background: #eddcd5;
  border: 1px solid transparent;
}

.features-bottom__link2 {
  padding: 20px 0;
}

.features-bottom__link2 a {
  padding: 15px 18px;
  border: 5px solid #eddcd5;
}

.features__content-bottom {
  border-bottom: none;
}

.null__container {
  padding-bottom: 50px;
  border-bottom: 1px solid #707070;
  background: #f4f0eb;
  max-width: 66rem !important;
  margin: 0 auto;
  padding: 0;
}

.header-works__container {
  background: none;
}

.page__vidio iframe {
  width: 100%;
  height: 500px;
}

.vidio__container {
  background: #e3d9cd !important;
  border-right: 1px solid #707070;
  border-left: 1px solid #707070;
  padding-top: 40px;
  padding-bottom: 40px;
}

.ten__container {
  background: #e3d9cd !important;
  border-right: 1px solid #707070;
  border-left: 1px solid #707070;
}

.no-webp .ten__body{
  background: url("../img/ten.png") center/contain no-repeat; }

.ten__content {
  padding: 40px 0;
}

.ten__text {
  font-family: "ArethabridgeRegular";
  line-height: 0.5940594059;
  text-align: center;
  color: #BE5458;
}

.grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 30px;
}

.grid__container {
  background: #e3d9cd;
  border-right: 1px solid #707070;
  border-left: 1px solid #707070;
  border-bottom: 1px solid #707070;
}

.grid__item-none {
  display: none;
}

.grid__title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.grid__text {
  line-height: 1.25;
  font-family: "segoeuil";
}

.grid__float {
  float: left;
  font-family: "ArethabridgeRegular";
  line-height: 0.8;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #c38775;
}

.grid__item-last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.grid-text__last {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.grid-last__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 175px;
          flex: 0 0 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid-last__img {
  max-width: 155px;
}

.grid-last__img img {
  width: 100%;
}

.home-black {
  color: #000;
  font-weight: 900;
}

.menu__link-services {
  color: #e9e9e9;
}

.colorc4a171 {
  background: #c4a171;
}

.none__container {
  background: #c4a171;
  width: 100%;
  height: 70vh;
  text-align: center;
  color: #fff;
}

.none__container img {
  max-width: 70%;
}

.poa {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 500;
  font-family: "ArethabridgeRegular";
}

.dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.swiper {
  overflow: hidden;
  position: relative;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transform: scale(0.33);
      -ms-transform: scale(0.33);
          transform: scale(0.33);
  position: relative;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  -webkit-transform: scale(0.66);
      -ms-transform: scale(0.66);
          transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  -webkit-transform: scale(0.33);
      -ms-transform: scale(0.33);
          transform: scale(0.33);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  -webkit-transform: scale(0.66);
      -ms-transform: scale(0.66);
          transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  -webkit-transform: scale(0.33);
      -ms-transform: scale(0.33);
          transform: scale(0.33);
}

.swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  opacity: 0.2;
  border: 1px solid #000;
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet:only-child {
  display: none !important;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: rgba(134, 134, 134, 0.645);
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
          transform: translate3d(0px, -50%, 0);
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 6px 0;
  display: block;
}

.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 8px;
}

.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  -webkit-transition: 0.2s top, 0.2s -webkit-transform;
  transition: 0.2s top, 0.2s -webkit-transform;
  -o-transition: 0.2s transform, 0.2s top;
  transition: 0.2s transform, 0.2s top;
  transition: 0.2s transform, 0.2s top, 0.2s -webkit-transform;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 0.2s left, 0.2s -webkit-transform;
  transition: 0.2s left, 0.2s -webkit-transform;
  -o-transition: 0.2s transform, 0.2s left;
  transition: 0.2s transform, 0.2s left;
  transition: 0.2s transform, 0.2s left, 0.2s -webkit-transform;
}

.swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 0.2s right, 0.2s -webkit-transform;
  transition: 0.2s right, 0.2s -webkit-transform;
  -o-transition: 0.2s transform, 0.2s right;
  transition: 0.2s transform, 0.2s right;
  transition: 0.2s transform, 0.2s right, 0.2s -webkit-transform;
}

.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
}

.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  -webkit-transform-origin: right top;
      -ms-transform-origin: right top;
          transform-origin: right top;
}

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}

.swiper-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical,
.swiper-vertical > .swiper-pagination-progressbar {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-lock {
  display: none;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-button-next2,
.swiper-button-prev2 {
  position: absolute;
  top: 0;
  width: 30%;
  height: 100%;
  z-index: 10;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next2.swiper-button-disabled,
.swiper-button-prev2.swiper-button-disabled {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next2:after,
.swiper-button-prev2:after {
  font-family: swiper-icons;
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next,
.swiper-button-prev2,
.swiper-rtl .swiper-button-next2 {
  left: 0px;
  right: auto;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-prev2:after,
.swiper-rtl .swiper-button-next2:after {
  content: "";
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev,
.swiper-button-next2,
.swiper-rtl .swiper-button-prev2 {
  right: 0px;
  left: auto;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-next2:after,
.swiper-rtl .swiper-button-prev2:after {
  content: "";
}

.swiper-button-lock {
  display: none;
}

@media (min-width: 43.75em) {
  .grid__title-heigth {
    height: 32px;
  }
}

@media (min-width: 47.99875em) {
  body {
    padding: 40px 0;
  }

  .evgeniya__square-line2 {
    position: absolute;
    top: 20px;
    left: 0;
    width: 101%;
    height: 1px;
    background: #1000FF;
  }

  .evgeniya__square-line {
    position: absolute;
    top: 12.5px;
    right: -12px;
    width: 10px;
    height: 1px;
    background: #1000FF;
  }

  .evgeniya__container {
    padding-left: 0 !important;
    padding-right: 38px !important;
  }
}

@media (min-width: 63.125em) {
  .grid__title-heigth2 {
    height: 32px;
  }
}

@media (min-width: 66em) {
  [class*=__container] {
    padding-right: 2.375rem;
  }

  [class*=__container] {
    padding-left: 2.375rem;
  }

  .menu__link {
    font-size: 1rem;
  }

  .evgeniya__link {
    padding-top: 0.9375rem;
  }

  .evgeniya__link {
    padding-bottom: 0.9375rem;
  }

  .evgeniya__link a {
    padding-top: 1rem;
  }

  .evgeniya__link a {
    padding-bottom: 1rem;
  }

  .evgeniya__link a {
    padding-right: 2rem;
  }

  .evgeniya__link a {
    padding-left: 2rem;
  }

  .evgeniya__text-body {
    padding: 1.75rem;
  }

  .evgeniya__text {
    font-size: 1rem;
  }

  .block-text__text {
    font-size: 1rem;
  }

  .advantages__text {
    font-size: 1rem;
  }

  .features__text {
    font-size: 1rem;
  }

  .portfolio__text {
    font-size: 1rem;
  }

  .feedback__img-text {
    font-size: 1rem;
  }

  .ten__text {
    font-size: 12.625rem;
  }

  .grid__container {
    padding-top: 6.25rem;
  }

  .grid__text {
    font-size: 1rem;
  }

  .grid__float {
    font-size: 10.9375rem;
  }

  .grid__item-last {
    padding-bottom: 5rem;
  }

  .poa {
    font-size: 15.75rem;
  }
}

@media (max-width: 20em) {
  [class*=__container] {
    padding-right: 0.9375rem;
  }

  [class*=__container] {
    padding-left: 0.9375rem;
  }

  .menu__link {
    font-size: 0.125rem;
  }

  .evgeniya__link {
    padding-top: 0.625rem;
  }

  .evgeniya__link {
    padding-bottom: 0.625rem;
  }

  .evgeniya__link a {
    padding-top: 0.625rem;
  }

  .evgeniya__link a {
    padding-bottom: 0.625rem;
  }

  .evgeniya__link a {
    padding-right: 1.25rem;
  }

  .evgeniya__link a {
    padding-left: 1.25rem;
  }

  .evgeniya__text-body {
    padding: 0.9375rem;
  }

  .evgeniya__text {
    font-size: 0.75rem;
  }

  .block-text__text {
    font-size: 0.75rem;
  }

  .advantages__text {
    font-size: 0.75rem;
  }

  .features__text {
    font-size: 0.75rem;
  }

  .portfolio__text {
    font-size: 0.75rem;
  }

  .feedback__img-text {
    font-size: 0.75rem;
  }

  .ten__text {
    font-size: 2.625rem;
  }

  .grid__container {
    padding-top: 3.125rem;
  }

  .grid__text {
    font-size: 0.75rem;
  }

  .grid__float {
    font-size: 7.5rem;
  }

  .grid__item-last {
    padding-bottom: 2.5rem;
  }

  .poa {
    font-size: 1.875rem;
  }
}

@media (max-width: 66.25em) {
  .advantages__vverx {
    right: 0px;
    -webkit-transform: translate(0px, 0px) rotate(-90deg);
        -ms-transform: translate(0px, 0px) rotate(-90deg);
            transform: translate(0px, 0px) rotate(-90deg);
  }
}

@media (max-width: 61.99875em) {
  .member__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 60.1875em) {
  .grid__item-none {
    display: block;
  }

  .grid__item-last-none {
    display: none !important;
  }
}

@media (max-width: 59.375em) {
  .feedback__img-left {
    display: none;
  }

  .feedback__img-right {
    display: none;
  }
}

@media (max-width: 58.125em) {
  .menu__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 175px;
            flex: 0 1 175px;
  }
}

@media (max-width: 56.25em) {
  .page__vidio iframe {
    height: 350px;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    display: block;
  }

  .menu__logo {
    max-width: 180px;
  }

  .menu__list {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px;
    margin: 0 auto;
    top: -150%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(171, 171, 171);
    overflow: auto;
    padding: 100px 0 40px 0;
  }

  .menu-open .menu__list {
    top: 0%;
  }

  .menu__link {
    font-size: 25px !important;
  }

  .evgeniya__squarebut {
    display: none;
  }

  .evgeniya__square {
    display: none;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 40px;
    right: 30px;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 15;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .evgeniya__items {
    display: block;
  }

  .evgeniya__item-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 30px 0 0 0;
  }

  .evgeniya__link {
    text-align: center;
    margin: 20px 0;
  }

  .evgeniya__arrow {
    bottom: 20px;
  }

  .member__container {
    padding: 0 3px;
  }

  .member__item {
    width: 145px;
  }

  .block-text__content {
    padding: 33px 0;
  }

  .advantages__grid {
    margin: 25px 0 0 0;
  }

  .features__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 20px;
  }

  .features__text p:not(:last-child) {
    margin-bottom: 10px;
  }

  .portfolio__content {
    padding: 30px 0;
  }

  .portfolio__slider {
    margin-left: 0;
  }

  .portfolio__slide {
    display: block;
  }

  .portfolio__body {
    padding: 15px;
  }

  .portfolio__img {
    max-width: 100%;
  }

  .feedback__body {
    height: 220px;
  }

  .features-bottom__link1 {
    padding: 15px 0px;
  }

  .features-bottom__link1 a {
    font-size: 14px;
    padding: 15px 25px;
  }

  .features-bottom__link2 {
    padding: 16px 0;
  }

  .features-bottom__link2 a {
    font-size: 14px;
    padding: 12px 13px;
  }

  .grid__item-last {
    display: block;
  }

  .grid-last__body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30px 0 15px 0;
  }

  .grid-last__img {
    max-width: 90px;
  }

  .none__container {
    padding: 0;
  }

  .poa {
    top: 35%;
  }
}

@media (max-width: 37.5em) {
  .advantages__item {
    text-align: center;
  }

  .advantages__img {
    margin: 0 auto;
  }
}

@media (max-width: 31.25em) {
  .page__vidio iframe {
    height: 200px;
  }
}

@media (max-width: 29.99875em) {
  .member__content {
    padding: 10px 0 20px 0;
  }

  .member__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 8px;
  }

  .block-text__body {
    padding: 20px;
  }

  .advantages__vverx {
    display: none;
  }

  .features__content {
    padding: 30px 0;
  }

  .features__body {
    padding: 15px;
  }

  .portfolio__title {
    margin-bottom: 20px;
  }

  .portfolio__img {
    padding: 7px;
  }

  .feedback__content {
    padding: 25px 0;
  }

  .feedback__img-text {
    padding: 20px;
  }

  .features__body-bottom {
    padding: 15px;
  }

  .features-bottom__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .poa {
    top: 30%;
  }
}

@media (max-width: 23.125em) {
  .page__vidio iframe {
    height: 160px;
  }
}

@media (min-width: 20em) and (max-width: 66em) {
@supports (padding-right: clamp( 0.9375rem , 0.3125rem  +  3.125vw , 2.375rem )) {
    [class*=__container] {
      padding-right: clamp( 0.9375rem , 0.3125rem  +  3.125vw , 2.375rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , 0.3125rem  +  3.125vw , 2.375rem )) {
    [class*=__container] {
      padding-right: calc(0.9375rem + 1.4375 * (100vw - 20rem) / 46);
    }
}

@supports (padding-left: clamp( 0.9375rem , 0.3125rem  +  3.125vw , 2.375rem )) {
    [class*=__container] {
      padding-left: clamp( 0.9375rem , 0.3125rem  +  3.125vw , 2.375rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , 0.3125rem  +  3.125vw , 2.375rem )) {
    [class*=__container] {
      padding-left: calc(0.9375rem + 1.4375 * (100vw - 20rem) / 46);
    }
}

@supports (font-size: clamp( 0.125rem , -0.2554347826rem  +  1.902173913vw , 1rem )) {
    .menu__link {
      font-size: clamp( 0.125rem , -0.2554347826rem  +  1.902173913vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.125rem , -0.2554347826rem  +  1.902173913vw , 1rem )) {
    .menu__link {
      font-size: calc(0.125rem + 0.875 * (100vw - 20rem) / 46);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.4891304348rem  +  0.6793478261vw , 0.9375rem )) {
    .evgeniya__link {
      padding-top: clamp( 0.625rem , 0.4891304348rem  +  0.6793478261vw , 0.9375rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.4891304348rem  +  0.6793478261vw , 0.9375rem )) {
    .evgeniya__link {
      padding-top: calc(0.625rem + 0.3125 * (100vw - 20rem) / 46);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.4891304348rem  +  0.6793478261vw , 0.9375rem )) {
    .evgeniya__link {
      padding-bottom: clamp( 0.625rem , 0.4891304348rem  +  0.6793478261vw , 0.9375rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.4891304348rem  +  0.6793478261vw , 0.9375rem )) {
    .evgeniya__link {
      padding-bottom: calc(0.625rem + 0.3125 * (100vw - 20rem) / 46);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.4619565217rem  +  0.8152173913vw , 1rem )) {
    .evgeniya__link a {
      padding-top: clamp( 0.625rem , 0.4619565217rem  +  0.8152173913vw , 1rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.4619565217rem  +  0.8152173913vw , 1rem )) {
    .evgeniya__link a {
      padding-top: calc(0.625rem + 0.375 * (100vw - 20rem) / 46);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.4619565217rem  +  0.8152173913vw , 1rem )) {
    .evgeniya__link a {
      padding-bottom: clamp( 0.625rem , 0.4619565217rem  +  0.8152173913vw , 1rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.4619565217rem  +  0.8152173913vw , 1rem )) {
    .evgeniya__link a {
      padding-bottom: calc(0.625rem + 0.375 * (100vw - 20rem) / 46);
    }
}

@supports (padding-right: clamp( 1.25rem , 0.9239130435rem  +  1.6304347826vw , 2rem )) {
    .evgeniya__link a {
      padding-right: clamp( 1.25rem , 0.9239130435rem  +  1.6304347826vw , 2rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 0.9239130435rem  +  1.6304347826vw , 2rem )) {
    .evgeniya__link a {
      padding-right: calc(1.25rem + 0.75 * (100vw - 20rem) / 46);
    }
}

@supports (padding-left: clamp( 1.25rem , 0.9239130435rem  +  1.6304347826vw , 2rem )) {
    .evgeniya__link a {
      padding-left: clamp( 1.25rem , 0.9239130435rem  +  1.6304347826vw , 2rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 0.9239130435rem  +  1.6304347826vw , 2rem )) {
    .evgeniya__link a {
      padding-left: calc(1.25rem + 0.75 * (100vw - 20rem) / 46);
    }
}

@supports (padding: clamp( 0.9375rem , 0.5842391304rem  +  1.7663043478vw , 1.75rem )) {
    .evgeniya__text-body {
      padding: clamp( 0.9375rem , 0.5842391304rem  +  1.7663043478vw , 1.75rem );
    }
}

@supports not (padding: clamp( 0.9375rem , 0.5842391304rem  +  1.7663043478vw , 1.75rem )) {
    .evgeniya__text-body {
      padding: calc(0.9375rem + 0.8125 * (100vw - 20rem) / 46);
    }
}

@supports (font-size: clamp( 0.75rem , 0.6413043478rem  +  0.5434782609vw , 1rem )) {
    .evgeniya__text {
      font-size: clamp( 0.75rem , 0.6413043478rem  +  0.5434782609vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.6413043478rem  +  0.5434782609vw , 1rem )) {
    .evgeniya__text {
      font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 46);
    }
}

@supports (font-size: clamp( 0.75rem , 0.6413043478rem  +  0.5434782609vw , 1rem )) {
    .block-text__text {
      font-size: clamp( 0.75rem , 0.6413043478rem  +  0.5434782609vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.6413043478rem  +  0.5434782609vw , 1rem )) {
    .block-text__text {
      font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 46);
    }
}

@supports (font-size: clamp( 0.75rem , 0.6413043478rem  +  0.5434782609vw , 1rem )) {
    .advantages__text {
      font-size: clamp( 0.75rem , 0.6413043478rem  +  0.5434782609vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.6413043478rem  +  0.5434782609vw , 1rem )) {
    .advantages__text {
      font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 46);
    }
}

@supports (font-size: clamp( 0.75rem , 0.6413043478rem  +  0.5434782609vw , 1rem )) {
    .features__text {
      font-size: clamp( 0.75rem , 0.6413043478rem  +  0.5434782609vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.6413043478rem  +  0.5434782609vw , 1rem )) {
    .features__text {
      font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 46);
    }
}

@supports (font-size: clamp( 0.75rem , 0.6413043478rem  +  0.5434782609vw , 1rem )) {
    .portfolio__text {
      font-size: clamp( 0.75rem , 0.6413043478rem  +  0.5434782609vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.6413043478rem  +  0.5434782609vw , 1rem )) {
    .portfolio__text {
      font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 46);
    }
}

@supports (font-size: clamp( 0.75rem , 0.6413043478rem  +  0.5434782609vw , 1rem )) {
    .feedback__img-text {
      font-size: clamp( 0.75rem , 0.6413043478rem  +  0.5434782609vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.6413043478rem  +  0.5434782609vw , 1rem )) {
    .feedback__img-text {
      font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 46);
    }
}

@supports (font-size: clamp( 2.625rem , -1.722826087rem  +  21.7391304348vw , 12.625rem )) {
    .ten__text {
      font-size: clamp( 2.625rem , -1.722826087rem  +  21.7391304348vw , 12.625rem );
    }
}

@supports not (font-size: clamp( 2.625rem , -1.722826087rem  +  21.7391304348vw , 12.625rem )) {
    .ten__text {
      font-size: calc(2.625rem + 10 * (100vw - 20rem) / 46);
    }
}

@supports (padding-top: clamp( 3.125rem , 1.7663043478rem  +  6.7934782609vw , 6.25rem )) {
    .grid__container {
      padding-top: clamp( 3.125rem , 1.7663043478rem  +  6.7934782609vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 1.7663043478rem  +  6.7934782609vw , 6.25rem )) {
    .grid__container {
      padding-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 46);
    }
}

@supports (font-size: clamp( 0.75rem , 0.6413043478rem  +  0.5434782609vw , 1rem )) {
    .grid__text {
      font-size: clamp( 0.75rem , 0.6413043478rem  +  0.5434782609vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.6413043478rem  +  0.5434782609vw , 1rem )) {
    .grid__text {
      font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 46);
    }
}

@supports (font-size: clamp( 7.5rem , 6.0054347826rem  +  7.472826087vw , 10.9375rem )) {
    .grid__float {
      font-size: clamp( 7.5rem , 6.0054347826rem  +  7.472826087vw , 10.9375rem );
    }
}

@supports not (font-size: clamp( 7.5rem , 6.0054347826rem  +  7.472826087vw , 10.9375rem )) {
    .grid__float {
      font-size: calc(7.5rem + 3.4375 * (100vw - 20rem) / 46);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.4130434783rem  +  5.4347826087vw , 5rem )) {
    .grid__item-last {
      padding-bottom: clamp( 2.5rem , 1.4130434783rem  +  5.4347826087vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.4130434783rem  +  5.4347826087vw , 5rem )) {
    .grid__item-last {
      padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 46);
    }
}

@supports (font-size: clamp( 1.875rem , -4.1576086957rem  +  30.1630434783vw , 15.75rem )) {
    .poa {
      font-size: clamp( 1.875rem , -4.1576086957rem  +  30.1630434783vw , 15.75rem );
    }
}

@supports not (font-size: clamp( 1.875rem , -4.1576086957rem  +  30.1630434783vw , 15.75rem )) {
    .poa {
      font-size: calc(1.875rem + 13.875 * (100vw - 20rem) / 46);
    }
}
}

@media (any-hover: hover) {
  .black:hover {
    position: relative;
  }

  .black:hover a {
    color: #000 !important;
  }

  .menu__item-home:hover {
    position: relative;
    border: 1px solid #1000FF;
  }

  .menu__item-home:hover a {
    color: lightcoral;
  }

  .menu__item-home:hover ul {
    opacity: 1;
  }

  .evgeniya__link a:hover {
    position: relative;
    border: 1px solid #1000FF;
  }

  .evgeniya__link a:hover .evgeniya__squarebut {
    opacity: 1;
  }

  .features-bottom__link1 a:hover {
    position: relative;
    border: 1px solid #1000FF;
  }

  .features-bottom__link1 a:hover .evgeniya__footer {
    opacity: 1;
  }

  .features-bottom__link2 a:hover {
    position: relative;
    border: 1px solid #1000FF;
    margin: 4px;
  }

  .features-bottom__link2 a:hover .evgeniya__footer {
    opacity: 1;
  }

  .home-black:hover {
    color: rgb(88, 87, 87);
  }

  .menu__link-services:hover {
    color: rgb(185, 183, 183);
  }
}

.webp .feedback__img-left2{ background: url(../img/glavnay/imgleft.webp) center/100% 100% no-repeat; }

.webp .feedback__img-left1{ background: url(../img/glavnay/imgleft1.webp) center/100% 100% no-repeat; }

.webp .feedback__img-right{ background: url(../img/glavnay/imgright.webp) center/cover no-repeat; }

.webp .ten__body{ background: url(../img/ten.webp) center/contain no-repeat; }